<br />
<br />
<br />
<br />
<div class="container">
            <div class="p-3 mb-2 bg-secondary text-black rounded border border-info">
                <h1>CHAT</h1>
                <H4>Bem – Vindo ao atendimento do Blog Mais Saúde.</H4>
                <h5>Aqui você é atendido por um voluntário de nosso site</h5>
                <h5>Consulte abaixo os horários disponíveis para atendimento e entre em contato conosco </h5>
                <h5>na nossa aba de <a asp-controller="Contato" asp-action="Index" style="color:red">Contato</a> para nos enviar um email e receber seu acesso e seu agendamento com o Link do Chat com o profissional</h5>
            </div>
@*            <div class="btn-group">
                <a class="btn btn-outline-success btn-lg" href="#" role="button">Abra o Chat</a>
            </div> *@
                    <br />
                    <br />
        <div class="rounded">
            <table class="table table-hover table-dark center">
      <thead>
        <tr>
          <th scope="col">Dia</th>
          <th scope="col">Horários</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Domingo:</td>
          <td>De 12h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Segunda-Feira:</td>
          <td>De 8h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Terça-Feira:</td>
          <td>De 8h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Quarta-Feira:</td>
          <td>De 8h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Quinta-Feira:</td>
          <td>De 8h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Sexta-Feira:</td>
          <td>De 8h as 17h</td>
          <td></td>
        </tr>
        <tr>
          <td>Sábado:</td>
          <td>De 12h as 16h</td>
          <td></td>
        </tr>
      </tbody>
</table>
        </div>

        <Br />
        <div class="container-fluid p-3 mb-2 bg-secondary text-black rounded">
        <h1 style="color:red">ATENÇÃO</h1>
            <h4 class="text-uppercase" style="color:black">Esse site NÃO SUBSTITUI O MÉDICO. Se você ou alguém que você conhece apresenta quaisquer sintomas, procure imediatamente um especialista.</h4>
        </div>
    </section>
</div>
  


