<br />
<br />
<div id="carouselExampleIndicators" class="carousel slide my-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/nervoso.jpg" class="d-block w-100" alt="..." class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/tumor.jpg" class="d-block w-100" alt="..." class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/urinario.jpg" class="d-block w-100" alt="..." class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/coracao.jpg" class="d-block w-100" alt="..." class="img-fluid">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<br />
<br />
<div class="section-title">
    <h1 class="especialidades"> Conheça nossas especialidades</h1>
    <h5>Fique por dentro dos principais sintomas, diagnósticos, tratamentos e formas de prevenção para condições clínicas que atingem milhares de brasileiros</h5>
</div>
<br />
<div class="container">
    <div class="row justify-content-center specialities-links">
        <div class="col">
            <img src="~/imagens/cerebro.png" style="width:50%;" />
            <h5>Sistema Nervoso</h5>
        </div>
        <div class="col">
            <img src="~/imagens/coracao2.png" style="width:50%;" />
            <h5>Coração</h5>
        </div>
        <div class="col">
            <img src="~/imagens/sistemaurinario.png" style="width:50%;" />
            <h5>Sistema Urinário</h5>
        </div>
        <div class="col">
            <img src="~/imagens/outras.png" style="width:50%;" />
            <h5>Outras Condições</h5>
        </div>
    </div>
</div>
<Br />
<div>
    <div class="w-100 p-3 bg-primary">
        <div style="color:white">
            <h1>É profissional da saúde? Junte-se a nós</h1>
            <h5>Envie seu certificado para nosso Email:<email endereco=" saudeblog489@gmail.com" conteudo=" saudeblog489@gmail.com" style="color:white"></email> e receba seu acesso e transforme vidas</h5>
        </div>
    </div>
</div>