@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}
<br />
<br />
<br />
<br />
<h3 style="color:red">Você não tem acesso a essa funcionalidade, somente administradores <a asp-controller="Home" asp-action="Index">Clique aqui para voltar</a></h3>