<br />
<br />
<br />
<br />
<div class="container text-primary">
    <h3>Fale Conosco</h3>
         <div class="container-fluid p-3 mb-2 bg-light text-danger rounded">
            <h1>ATENÇÃO</h1>
            <p class="text-uppercase">O blog Mais Saúde tem o objetivo de disseminar conhecimento científico sobre saúde para o maior número de brasileiros possível. E também tem o objetivo de combater a desinformação e ajudar na prevenção das condições clínicas que você encontra no nosso Chat. E muito importante, esse site NÃO SUBSTITUI O MÉDICO. Se você ou alguém que você conhece apresenta quaisquer sintomas, procure imediatamente um especialista.</p>
         </div>
     <h5>Entra em contato conosco:</h5>
     <p><img src="~/imagens/telefone.png" />: (24) 98189-4825</p>
    <p><img src="~/imagens/envelope.png" /><email endereco="saudeblog489@gmail.com" conteudo=":Enviar um E-mail"></email></p>
     <p><img src="~/imagens/instagram.png" />: BlogProjetoIntegrador</p>
</div>

